h1 {
    margin-top: 4em;
}

.video {
    display: block;
    margin: 0em auto;
    margin-top: 5em;
    width: 100vw;
    height: 38em;
    max-width: 100em;
}

.video-nav-hidden {
    width: 100vw;
    height: 38em;
    max-width: 100em;
}

.modal-fade{
    position: absolute;
    width: 100vw;
    height: 1000vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 90;
}

.like {
    justify-self: flex-end;
    font-size: xx-large;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.spinner{
   margin-top: 20em;
}

.name {
    font-size: larger;
    margin-top: 4em;
}

.wide {
    width: 100vw;
}

.channel-details-1 {
    margin-left: 12.5em;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    text-align: left;
    font-weight: 500;
    padding: 0em 1em;
    padding-bottom: 10em;
}

.channel-details-hidden {
    margin-left: 12.5em;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    text-align: left;
    font-weight: 500;
    padding: 0em 1em;
}

.inc {
    font-size: 1.2em;
}

.video-style-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
    margin-right: 0;


}

.details-1 {
    align-self: flex-start;
    margin-left: 1.1em;
}

.notes {
    width: 30em;
    margin-top: 5em;
    margin-left: 12em;
    padding: 1em 4em;
    display: flex;
    flex-direction: column;
}

.notes span {
    font-size: 1.4em;
    text-align: left;
    color: rgba(0, 0, 0, 0.76);
}

.notes input {
    border: none;
    margin-top: 2em;
    font-size: 1em;
    text-align: left;
    width: 30em;
    outline: none;
    border-bottom: 1px solid var(--gray-fade);
    font-family: Roboto;
}

.notes input:focus {
    border-bottom: 2px solid black;
    transition: 20ms;
}

.buttons {
    align-self: flex-end;
    margin-right: -1.2em;

}

.button-primary {
    border-radius: 0.2em;
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: 500;
}

.button-outline-none {
    border: none;
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.2em;
    background-color: white;
    cursor: pointer;

}

::placeholder {
    font-family: Roboto;
}


.relative {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-areas:
        "n v";
    border-top: 1px solid var(--gray-fade);
}

.item-list {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
}

.row {
    grid-area: n;

}

.v {
    grid-area: v;
}

.input span {
    width: 30em;

}

input {
    font-family: Roboto;
}

.playlist {
    padding: 1em;
    align-content: center;
}

@media only screen and (max-width: 600px) {
    .video-nav-hidden {
        width: 100vw;
        height: 17em;
        margin-top: 6.8em;

    }

    .video {
        width: 100vw;
        height: 17em;
        margin-top: 5em;
    }

    .channel-details-hidden {
        margin-left: 0;
        font-size: small;
    }

    .like {
        font-size: large;
    }
}

@media only screen and (min-width: 600px) {
    .channel-details-hidden {
        margin-left: 0;
    }
}