.modal-1{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    max-width: 20em;
    max-height: 7em;
    background-color: white;
    z-index: 100;
}
.flex{
    display: flex;
    justify-content: center;
}
.modal-heading{
    font-size: 1.2em;
    padding-top: 2em;
}