.modal{
    width: 15em;
    position: absolute;
    /* top: 4em;
    left: 12em;  */
    top: 48em;
    right: 1em;
    background-color: white;
    box-shadow: none;
    z-index: 1;
    /* top: 50%;
    left: 50%;                   
    transform: translateX(-50%); */
    border: 1px solid var(--gray);
  }
  .modal-header{
    font-size: 0.8em;
    padding: 1em;
    text-align: center;
  }
  .modal-close{
    top: 0.8em;
    font-size: medium;
  }
  .check-list{
      display: flex;
      justify-content: space-evenly;
  }
  .heading{
    font-size: 1.5em;
    font-weight: 400;
  }
  .modal-body{
    padding: 1em;
  }
  .create{
    margin: 0 0.5em;
  }
  .footer{
    margin: auto;
  }
  .cta span{
    padding: 1em 0;
  }
  .button-primary-1 {
    border-radius: 0.2em;
    padding: 0em 0.5em;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--blue);
    color: white;
    border: none;
}